
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ title }}</title>
    <meta name="description" content="OPAS - Gestione degli allarmi tramite Iono PI">
    <meta name="author" content="OPAS - Gestione degli allarmi tramite Iono PI">
    <link rel="icon" href="img/favicon.png">

    <script src="plugin/jquery-3.4.1.min.js"></script>
    <script src="plugin/popper.min.js"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="plugin/bootstrap-4.4.1/css/bootstrap.min.css">
    <script src="plugin/bootstrap-4.4.1/js/bootstrap.min.js"></script>

    <!-- toggle https://gitbrent.github.io/bootstrap4-toggle/ -->
    <link  href="plugin/bootstrap-toggle/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="plugin/bootstrap-toggle/bootstrap4-toggle.min.js"></script>

    <!-- template customization -->
    <script src="js/index.js?v=1.0"></script>
    <link rel="stylesheet" href="css/style.css?v=1.0">
</head>

<body>
    <div class="container-xl" id="main">
        <header>
            <h1 id="title-big">OPAS - Gestione degli allarmi tramite Iono PI</h1>
            <h1 id="title-little">OPAS - Allarmi Iono PI</h1>
            <div class="row">
                <div class="col-md-12 mt-2">
                    <a href="/" class="like-menu btn btn-lg btn-primary" id="status">Stato stazione</a>
                    <a href="/log" class="like-menu btn btn-lg btn-secondary ml-2">Visualizza log</a>
                </div>
            </div>
        </header>
        <content>
            <div class="row">
                <div class="col-md-12">
                    <img id="iono-big" class="img-fluid" src="img/iono-big.png">
                    <img id="iono-little" class="img-fluid" src="img/iono-little.png">
                </div>
            </div>
            <form class="pb-3">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="mt-2">Analogico</h2>
                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label"><span>1.</span> A1</label>
                            <div class="col-8">
                                <input type="text" class="form-control clear-txt" id="A1" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label"><span>2.</span> A2</label>
                            <div class="col-8">
                                <input type="text" class="form-control clear-txt" id="A2" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2 class="mt-2">Wire</h2>
                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label"><span>3.</span> W1</label>
                            <div class="col-8">
                                <input type="text" class="form-control clear-txt" id="W1" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <h2>Digital Input</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label"><span>4.</span> D1</label>
                            <div class="col-8">
                                <input type="checkbox" class="bt-toggle" id="D1" data-toggle="toggle" data-onstyle="success">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label"><span>5.</span> D2</label>
                            <div class="col-8">
                                <input type="checkbox" class="bt-toggle" id="D2" data-toggle="toggle" data-onstyle="success">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label"><span>6.</span> D3</label>
                            <div class="col-8">
                                <input type="checkbox" class="bt-toggle" id="D3" data-toggle="toggle" data-onstyle="success">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label"><span>7.</span> D4</label>
                            <div class="col-8">
                                <input type="checkbox" class="bt-toggle" id="D4" data-toggle="toggle" data-onstyle="success">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label"><span>8.</span> D5</label>
                            <div class="col-8">
                                <input type="checkbox" class="bt-toggle" id="D5" data-toggle="toggle" data-onstyle="success">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label"><span>9.</span> D6</label>
                            <div class="col-8">
                                <input type="checkbox" class="bt-toggle" id="D6" data-toggle="toggle" data-onstyle="success">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="digOut">
                    <hr>
                    <h2>Digital Output</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row row-light">
                                <label for="" class="col-4 col-form-label"><span>A.</span> DO1</label>
                                <div class="col-4 btn-mylight">
                                    <button type="button" class="btn btn-info" id="btn-a">Cambia</button>
                                </div>
                                <div class="col-4">
                                    <div class="change-light light-on" id="light-a">
                                        <p>On</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row row-light">
                                <label for="" class="col-4 col-form-label"><span>B.</span> DO2</label>
                                <div class="col-4 btn-mylight">
                                    <button type="button" class="btn btn-info" id="btn-b">Cambia</button>
                                </div>
                                <div class="col-4">
                                    <div class="change-light light-on" id="light-b">
                                        <p>On</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row row-light">
                                <label for="" class="col-4 col-form-label"><span>C.</span> DO3</label>
                                <div class="col-4 btn-mylight">
                                    <button type="button" class="btn btn-info" id="btn-c">Cambia</button>
                                </div>
                                <div class="col-4">
                                    <div class="change-light light-on" id="light-c">
                                        <p>On</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row row-light">
                                <label for="" class="col-4 col-form-label"><span>D.</span> DO4</label>
                                <div class="col-4 btn-mylight">
                                    <button type="button" class="btn btn-info" id="btn-d">Cambia</button>
                                </div>
                                <div class="col-4">
                                    <div class="change-light light-off" id="light-d">
                                        <p>Off</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </content>
    </div>
    <div class="container-xl" id="footer">
        &copy; OPAS 2020 - tutti i diritti sono riservati.
    </div>
</body>
</html>